<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ if not .IsHome }}{{ .Title }} - {{ end }}{{ .Site.Title }}</title>
  <link rel="canonical" href="{{ .Permalink }}">
  <meta name="description" content="{{ with .Description }}{{- . -}}{{ else }}{{ if .IsPage }}{{- .Summary -}}
    {{ else }}{{ with .Site.Params.description }}{{- . -}}{{ end }}{{ end }}{{ end }}">
  {{- template "_internal/schema.html" . -}}
  {{- template "_internal/opengraph.html" . -}}
  {{- template "_internal/twitter_cards.html" . -}}
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="{{ "css/main.min.css" | relURL }}" media="screen">
</head>

<body id="site">
  <header>{{ partial "header.html" . }}</header>
  <main id="site-content">{{ block "main" . }}{{ end }}</main>
  <footer class="page-footer grey lighten-3">{{ partial "footer.html" . }}</footer>
  <script src="{{ "js/materialize.min.js" | relURL }}"></script>
  <script>
    var sidenav = document.querySelector('.sidenav');
    var instance = M.Sidenav.init(sidenav);
  </script>
</body>

</html>