{{ define "main" }}
<div id="index-banner" class="parallax-container">
  <div class="parallax">
    <img style="opacity: 1;" src="img/beach.jpg" alt="banner">
  </div>
</div>
<div class="container">
  <div class="section">
    <div class="row">
      <div class="col s12 m4 l4">
        <div class="icon-block">
          <h2 class="center">
            <i class="material-icons">devices</i>
          </h2>
          <h5 class="center">A modern responsive design</h5>
          <p class="light">I like to beat the brush. Maybe there's a happy little bush that lives right there. Exercising the imagination,
            experimenting with talents, being creative; these things, to me, are truly the windows to your soul. We'll make
            some happy little bushes here. We'll throw some old gray clouds in here just sneaking around and having fun.</p>
        </div>
      </div>
      <div class="col s12 m4 l4">
        <div class="icon-block">
          <h2 class="center">
            <i class="material-icons">find_in_page</i>
          </h2>
          <h5 class="center">SEO and Social Media optimizations</h5>
          <p class="light">Now let's put some happy little clouds in here. Let your imagination be your guide. See. We take the corner of
            the brush and let it play back-and-forth. We can always carry this a step further. There's really no end to this.
            Anytime you learn something your time and energy are not wasted</p>
        </div>
      </div>
      <div class="col s12 m4 l4">
        <div class="icon-block">
          <h2 class="center">
            <i class="material-icons">settings</i>
          </h2>
          <h5 class="center">Extendable configuration</h5>
          <p class="light">Let's do that again. You can create the world you want to see and be a part of. You have that power. If you didn't
            have baby clouds, you wouldn't have big clouds. We can always carry this a step further. There's really no end
            to this. Isn't it fantastic that you can change your mind and create all these happy things? Talk to trees, look
            at the birds. Whatever it takes.</p>
        </div>
      </div>
    </div>
  </div>
</div>
{{ end }}